<a href="https://colab.research.google.com/github/Martinluther123/project-path/blob/main/Drillerbyte_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing necessary libraries

In [1]:
import numpy as pd
import pandas as pd

#Importing Dataset

In [2]:
df = pd.read_csv("/content/movies_data.csv")

In [3]:
df.head()

   1 The Nightmare Before Christmas  1993  3.9    4568
0  2                      The Mummy  1932  3.5  4388.0
1  3           Orphans of the Storm  1921  3.2  9062.0
2  4           The Object of Beauty  1991  2.8  6150.0
3  5                     Night Tide  1963  2.8  5126.0
4  6            One Magic Christmas  1985  3.8  5333.0

#Rename Columns

In [4]:
new_col = {"The Nightmare Before Christmas":"Movies", "1993":"Year", "3.9":"Rating","4568":"Downloads"}

data = df.rename(columns=new_col)

In [5]:
data.head()

   1                Movies  Year  Rating  Downloads
0  2             The Mummy  1932     3.5     4388.0
1  3  Orphans of the Storm  1921     3.2     9062.0
2  4  The Object of Beauty  1991     2.8     6150.0
3  5            Night Tide  1963     2.8     5126.0
4  6   One Magic Christmas  1985     3.8     5333.0

the output below shows the total dataset enteries.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49589 entries, 0 to 49588
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          49589 non-null  int64
 1   Movies     49589 non-null  object
 2   Year       49589 non-null  int64
 3   Rating     10813 non-null  float64
 4   Downloads  45835 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.9+ MB

In [7]:
data.isnull().sum()

1                0
Movies           0
Year             0
Rating       38776
Downloads     3754
dtype: int64

The output below show that the total number of entries after dropping all empty values.

In [8]:
new_data = data.dropna()

In [9]:
len(new_data)

7059

The output below shows the total number of unique Movies

In [10]:
uni = new_data["Movies"].unique()

len(uni)

6991

From the output below, it shows that the total number of Movies that have rating 4.5 is 4.

In [11]:
new_data.groupby("Rating").count()

          1  Movies  Year  Downloads
Rating
1.6       4       4     4          4
1.7      10      10    10         10
1.8      18      18    18         18
1.9      25      25    25         25
2.0      22      22    22         22
2.1      72      72    72         72
2.2      53      53    53         53
2.3      99      99    99         99
2.4     109     109   109        109
2.5     152     152   152        152
2.6     157     157   157        157
2.7     230     230   230        230
2.8     305     305   305        305
2.9     356     356   356        356
3.0     447     447   447        447
3.1     501     501   501        501
3.2     518     518   518        518
3.3     544     544   544        544
3.4     563     563   563        563
3.5     562     562   562        562
3.6     588     588   588        588
3.7     543     543   543        543
3.8     413     413   413        413
3.9     341     341   341        341
4.0     204     204   204        204
4.1     117     117   117        117
4.2      71      71    71         71
4.3      22      22    22         22
4.4       9       9     9          9
4.5       4       4     4          4

From the output below, it shows that the Movie that has the highest number of downloads is Example 8 Hour 23.976 Remote Content and the Movie that has lowest number of down

In [12]:
new_data.sort_values(by=["Downloads"])

           1                                Movies  Year  Rating  Downloads
40149  40151                         Trailer: Pain  2012     3.6       52.0
41080  41082                  Trailer: Get to Work  2012     3.3       55.0
41081  41083                Trailer: Give and Take  2012     3.3       66.0
43165  43167                      Trailer: Emperor  2013     3.1       67.0
40148  40150                Trailer: Lift the Veil  2012     3.6       69.0
...      ...                                   ...   ...     ...        ...
1830    1832               Dr. Mabuse: The Gambler  1922     3.1    16422.0
22380  22382                        Heaven's Story  2010     2.3    16736.0
2422    2424                     The Best of Youth  2003     3.9    22024.0
12302  12304                 Example 8 Hour 23.976  2010     3.2    28813.0
22215  22217  Example 8 Hour 23.976 Remote Content  2010     3.0    28813.0

[7059 rows x 5 columns]

In [13]:
(new_data["Year"] ==2014).sum()

1

In [14]:
(new_data["Year"]==1990).sum()

49

In [15]:
new_data["Movies"].iloc[44]

'Drop Zone'

The output below, shows that the movie name at 46th row is Drop Zone

In [22]:
new_data.iloc[44]

1                   46
Movies       Drop Zone
Year              1994
Rating             3.4
Downloads       6087.0
Name: 44, dtype: object